@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

::-webkit-scrollbar {
    width: 7px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background:#198754; 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  }

body{
    background-color: rgb(9, 16, 26);
    overflow-x: hidden;
}
#navH3{
    display: flex;
    align-items: center;
    justify-content: center;
    height:3rem;
    width:3rem;
    animation: levitate 3s ease-in-out infinite alternate;
    
}
a{
    float: left;
}
a:hover{
    filter: drop-shadow(5px 0px 10px  #6554AF);
    transition: filter 0.6s ease-in;

}

@keyframes levitate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-4px); 
      filter: drop-shadow(5px 0px 10px  #6554AF);}
    100% { transform: translateY(0); }
  }
.mainDiv{
    height:80vh;
    /* background-color: aliceblue; */
}
.devPic{
    margin-top:1%;
    height:105%;
    width:110%;
    
}
.auto-text{
    font-family: "Jersey 25", sans-serif;
    font-optical-sizing: auto;
    font-size:3.3vw;
}
p{
    font-family: "Poppins", sans-serif;
    font-size:1.1rem;
}
.devPic:hover{
    filter: drop-shadow(5px 0px 10px  #6554AF);
    transition: filter 0.6s ease-in-out;
}
.buttonSpace{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.icon{
    padding:3px;
}
.icon2{
    padding:5px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height:80%;
    border-radius:25px;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.buttons:hover{
    transform: scale(1.1);
    transform: translateY(-4px);
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    filter: drop-shadow(5px 0px 10px  #FFFB7D);
}

.experties{
    height:100vh;
}
.spanText{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3 ease-in-out;
}
.bar{
    width:80%;
}
.bar_content{
    color: #ffffff;
    display: block;
    width: 100%;
    transform: translateX(100%); 
    animation: move 30s linear infinite;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}
.cards{
    border-radius:35pc;
    background-color: #212529;
    height:100%;
    width:100%;
    animation:  blink 3s ease-in-out infinite alternate;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    overflow: hidden;
}
@keyframes blink {
    0%{filter: drop-shadow(0px 5px 5px  #6554AF);}
    50%{filter: drop-shadow(5px 0px 5px  #6554AF);}
    100%{filter: drop-shadow(0px 5px 10px  #6554AF);}
}
.langContainer{
    width:100%;
    height:40%;
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    
}
.technologyCard{
    width:15%;
    height:82%;
    background-color: #ffffff;
    border-radius:25px;
    overflow: hidden;
    border: solid 2px black;
}
.animatedImg{
    width:100%;
    height:100%;
    transform: scale(1.2);
}

  
@media screen and (max-width: 1200px){
    .devPic{
        display: none;
    }
    
}